:root {
    /* Baseado no header que vi no seu TelaPrincipal.java */
    -fx-primary-color: #0d63c3;

    /* Cores de Ação */
    -fx-accent-color: #ffc107;  /* Um amarelo/laranja para destaque */
    -fx-danger-color: #dc3545;  /* O vermelho do seu botão 'Sair' */

    /* Cores de Texto */
    -fx-text-light: #f8f9fa;     /* Um "quase branco" para fundos escuros */
    -fx-text-dark: #212529;      /* Um "quase preto" para fundos claros */

    /* Neutros */
    -fx-background-light: #ffffff;
    -fx-background-dark: #343a40;
}

.text-field{
    -fx-background-radius: 0; 
    -fx-border-radius: 0;

    /*
    Implementar campo obrigatorios
    -fx-border-color: #D0D0D0 red #D0D0D0 #D0D0D0;
    -fx-border-width: 1px 2px 1px 1px; */
}

/* 
Implementar campo obrigatorios
.text-field:focused {
    -fx-border-color: #D0D0D0 rgb(0, 38, 255) #D0D0D0 #D0D0D0;
    -fx-border-width: 1px 2px 1px 1px;
} */

.combo-box{
    -fx-background-radius: 0; 
    -fx-border-radius: 0;
    -fx-pref-width: 300px
}
