.menu-bar{
    -fx-border-style: none;
}

.layout-principal-cad-cliente{
    -fx-background-color: #f6f8fa;
}

.bloco-branco {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-pref-width: 600px;
    -fx-pref-height: 200px;
    -fx-background-radius: 3px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.16), 4, 0, 0, 1 );

    

}

.filtros-box{
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 10;
    -fx-border-color: #ddd;
    -fx-border-radius: 10;
}

.layout-geral-produto-cadastro{
    -fx-background-color: #f6f8fa;
}